/*
  ========================================
  SETUP
  ========================================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*browser specific */
    -webkit-box-sizing: border-box; /* browser specific */
}

@font-face {
    font-family: "Figtree";
    src: local("Figtree"),
        url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype"),
        url("../assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
            format("truetype"),
        url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype"),
        url("../assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*
  ========================================
  VARIABLES
  ========================================
*/
:root {
    --white: #ffffff;
    --yellow: #f4d04e;
    --gray-950: #111111;
    --gray-500: #6b6b6b;

    --spacing-300: 24px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

/*
  ========================================
  TYPOGRAPHY
  ========================================
*/
/* Text Preset 1 - Figtree Extra Bold, 24px, 150% Line Height */
.text-preset-1 {
    font-family: "Figtree", sans-serif;
    font-weight: 800; /* Extra Bold */
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0px;
}

/* Text Preset 2 - Figtree Medium, 16px, 150% Line Height */
.text-preset-2 {
    font-family: "Figtree", sans-serif;
    font-weight: 500; /* Medium */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}

/* Text Preset 3 - Figtree Medium, 14px, 150% Line Height */
.text-preset-3 {
    font-family: "Figtree", sans-serif;
    font-weight: 500; /* Medium */
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
}

/* Text Preset 3 (Bold) - Figtree Extra Bold, 14px, 150% Line Height */
.text-preset-3-bold {
    font-family: "Figtree", sans-serif;
    font-weight: 800; /* Extra Bold */
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
}

/*
  ========================================
  STYLES
  ========================================
*/

body {
    height: 100vh;
}
