/*
  ========================================
  SETUP
  ========================================
*/

@font-face {
    font-family: "Figtree";
    src: local("Figtree"),
        url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Figtree ExtraBold";
    src: local("Figtree"),
        url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*browser specific */
    -webkit-box-sizing: border-box; /* browser specific */
}

/*
  ========================================
  VARIABLES
  ========================================
*/
:root {
    --white: #ffffff;
    --yellow: #f4d04e;
    --gray-950: #111111;
    --gray-500: #6b6b6b;

    --spacing-300: 24px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

/*
  ========================================
  TYPOGRAPHY
  ========================================
*/
/* Text Preset 1 - Figtree Extra Bold, 24px, 150% Line Height */
.text-preset-1 {
    font-family: "Figtree ExtraBold", sans-serif;
    font-weight: 800; /* Extra Bold */
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0px;
}

/* Text Preset 2 - Figtree Medium, 16px, 150% Line Height */
.text-preset-2 {
    font-family: "Figtree", sans-serif;
    font-weight: 500; /* Medium */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}

/* Text Preset 3 - Figtree Medium, 14px, 150% Line Height */
.text-preset-3 {
    font-family: "Figtree", sans-serif;
    font-weight: 500; /* Medium */
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
}

/* Text Preset 3 (Bold) - Figtree Extra Bold, 14px, 150% Line Height */
.text-preset-3-bold {
    font-family: "Figtree ExtraBold", sans-serif;
    font-weight: 800; /* Extra Bold */
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
}

/*
  ========================================
  STYLES
  ========================================
*/

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow);
}

.card {
    height: fit-content;
    background-color: var(--white);
    width: 384px;
    border-radius: 20px;

    padding: 24px;
    box-shadow: 9px 9px;
}

#card-header-image {
    border-radius: 10px;
}

.card-header-image {
    margin-bottom: 24px;
}

.card-post-status {
    background-color: var(--yellow);
    color: var(--gray-950);

    display: inline-block;
    padding: 4px 12px;

    border-radius: 4px;
    margin-bottom: 12px;
}

.card-post-date-published {
    margin: 0 0 12px 0;
    color: var(--gray-950);
}

.card-post-title {
    margin: 0 0 12px 0;
    color: var(--gray-950);
}

.card-post-title:hover {
    color: var(--yellow);
}

.card-post-preview-content {
    margin: 0 0 12px 0;
    color: var(--gray-500);
}

.card-author {
    padding-left: 44px;
    color: var(--gray-950);
}
